footer {
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer h3 {
    color: white;
    
}
footer a {
    color: #b91c1c;
}

footer a:hover {
    opacity: .9;
}

.arrow i {
    position: absolute;
    color: #b91c1c;
    right: 6%;
    top: 0;
    font-size: 2rem;
    border: 2px solid #b91c1c;
    border-radius: 50%;
    padding: 10px 14px;
}


 @media only screen and (max-width:650px) {
    footer {
        padding-top: 1rem;
    }
    footer i {
        transform: translateY(-3rem);
    }
    footer h3 {
        font-size: 14px;
    }
 }