.home-page {
    width: 100vw;
    height: 100vh;
    background-color: black ;
}


.home-page img {
    height: 46rem;
    float: right;
    padding-top: 10px;
    padding-right: 10rem;
    
}

.home-page h1 {
    color: white;
    display: inline-block; 
}

.welcome {
    position: absolute;
    top: 15rem;
    left: 3rem;
    
}

.welcome p {
    color: white;
    font-family: 'poppins';
    width: 60%;
    padding: 22px 0;
}
.typewriter {
    font-size: 3.5rem;
}
@media only screen and (min-width: 1480px) {
    .home-page img {
        padding-right: 16rem;
        height: 55rem !important;
        transform: translateY(-4rem);
    }
    .home-page h1{
        transform: translateX(9rem);
    }
    .hello {
        font-size: 26px !important;
    }
    .home-page p {
        transform: translateX(9rem);
        width: 40%;
    }
}


@media only screen and (min-width: 768px) {
    .home-page img {
        margin-right: 12rem;
        height: 40rem;

    }
    .welcome {
        margin-left: 8rem;
        width: 70%;
    }
}

@media only screen and (max-width: 560px) {
    .home-page img {
        height: 32rem;
        transform: translateY(-.6rem);
    }
}
