.work {
    min-height: 100vh;
    width: 100vw;
    background-color: black;
    padding-left: 10rem;
}
.section__tag {
    position: relative;

}
.section__tag h1 {
    color: white;
    padding-bottom: 8px;
    
}

.cards {
    margin-top: 6.2rem;
    display: flex;
    justify-content: space-around;
    padding-right: 10rem;

}

.courses {
    width: 100vw;
    position: relative;
    background-color: rgb(29, 29, 29);
}
.courses .tag {
    padding-top: 9rem;
}
.section__tag span {
    color: #e41b1b;
}


.custom-shape-divider-top-1657053334 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1657053334 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 154px;
}

.custom-shape-divider-top-1657053334 .shape-fill {
    fill: black;
}

@media only screen and (max-width: 1480px) {
    .cards {
        gap: 2rem;
        flex-wrap: wrap;
    }
    .section__tag h1 {
        padding-top: 1rem;
        margin-left: 2rem;
    }
   
   
}
@media only screen and (max-width: 1500px) {
    
}